:root {
  --main-color: #ff6600;   /* orange */
  --main-extra-light-color: #ff6600;   /* orange */
  --main-dark-color: #b37400;
  --main-light-color: #ffcc00;
  --bg-color: #1e1e2f;     /* dark background */
}