
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
* {
    font-family: Orbitron, monospace;
}
#gameWindow {
    /* height: 80vh; */
    /* width: 90vw; */
    border: 3px solid black;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    /* background-image: url('/images/grass.png'); */
    /* background-size: 130px; */
    /* background-color: lightgreen; */
    /* padding: 5px; */
    position: relative;
}
.firstLayerObject {
    margin-right:3px;
    object-fit:contain;
    position: absolute;
}

canvas {
    border: 3px solid black;
    /* margin: 100px; */
    height: 100vh;
    margin: 0 auto;
    display: block;
}

#backgroundImage {
    height: 100vh;
    width: 100vw;
    position: fixed;
    object-fit: cover;
    filter: blur(9px);
    z-index: -1;
}

.gameBar {
    position: fixed;
    top: 2px;
    left: 2px;
    width: 300px;
    /* background-color: red; */
    z-index: 3;
    padding: 5px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.gameBar .pause{
    width: 50px !important;
    padding: 5px;
    cursor: pointer;
    background-color: var(--main-light-color);
    border-radius: 10px;
    border-radius: 3px solid pink;
    /* border-color: var(--main-extra-light-color); */
}
.gameBar .game-box {
    width: fit-content;
    font-size: 18px;
}
.gameBar .pause img{
    width: 100%;
}