
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
* {
    font-family: Orbitron, monospace;
}
#gameWindow {
    display: block;
    border-radius: 10px;
}
.firstLayerObject {
    margin-right:3px;
    object-fit:contain;
    position: absolute;
}

.gameWindowHolder {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 3px solid #ba9812;
    height: 100vh;
}

canvas.potrait {
    height: auto !important;
    width: 100vw
}

#backgroundImage {
    height: 100vh;
    width: 100vw;
    position: fixed;
    object-fit: cover;
    filter: blur(9px);
    z-index: -1;
}

.gameBar {
    position: fixed;
    top: 2px;
    left: 2px;
    width: 300px;
    z-index: 3;
    padding: 5px;
    display: flex;
    gap: 16px;
    align-items: center;
}
.gameBar .pause{
    width: 50px !important;
    padding: 5px;
    cursor: pointer;
    background-color: var(--main-light-color);
    border-radius: 10px;
}
.gameBar .game-box {
    width: fit-content;
    font-size: 18px;
}
.gameBar .pause img{
    width: 100%;
}